.Home {
    

}
.Home-main {
    height: auto;
}
.Home-main.is-hide {
	transform: translate3d(-100%,0,0);
	height: 100vh;
	overflow: hidden;
	transition: position .2s ease-in-out;
	
}
.Home-appBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
}
.Home-content {
    margin-top: 80px;
}
.Home-rightPage {
	overflow: scroll;
    height: 100%;
    width: 0px;
    top:0px;
    right: -100%;
    position: absolute;
	z-index: 500;
	
}
.Home-rightPage.is-show {
	top: 0px;
	min-height: 100vh;
	background: pink;
    height: auto;
    right: 0px;
    width: 100%;
  
    -webkit-transition: right .2s ease-in-out;
    transition: right .2s ease-in-out;
}