.Home {
    width: 100vw;
    overflow: hidden;    

}
.Home-main {
    height: auto;
    width: 100vw;
}
.Home-main.is-hide {
	/* transform: translate3d(-100%,0,0);
	overflow: hidden;*/
	transition: position .2s ease-in-out;
	position: fixed;

}
@media screen and (min-width: 600px){
    .Home-main.is-hide {
        position: relative;
    }

}
.Home-appBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 100;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
}
.Home-content {
    margin: 80px auto 0 auto;
}
.Home-rightPage {
	overflow: scroll;
    z-index: 400;
    top:0px;
    right: -100%;
    position: absolute;
   
	width: 100%;
	height: 0;
    background: white;

    -webkit-transition: right .2s ease-in;
    transition: right .2s ease-in;
    will-change: right, height;
}
.Home-rightPage.is-show {
	top: 0px;
    right: 0px;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    height: auto;
    
    -webkit-transition: right .2s ease-in-out;
    transition: right .2s ease-in-out;
    will-change: right, height;
}

.Home-leftPage {
    overflow: scroll;
    z-index: 500;
    top:0px;
    left: -100%;
    position: fixed;
    width: 100%;
    z-index: 200;
    -webkit-transition: left .2s ease-in;
    transition: left .2s ease-in; 
    will-change: left; 
}
.Home-leftPage.is-show {
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    min-height: 100vh;
    height: auto;
   
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out;
    will-change: left;

}
.Home-blackLayer {
    cursor: pointer;
}
.Home-blackLayer.is-show {
    position: fixed;
    background: rgba(0,0,0,0.3);
    width: 100%;
    min-height: 100vh;
    z-index: 110;
    transition: background .25s ease-in-out;   
}
@media screen and (min-width: 600px){
    .Home-blackLayer.is-show {
        display: none;
    }

}
.Home-bottomPage {
    overflow: scroll;
    z-index: 300;
    top: 100%;
    position: fixed;
    width: 100%;

    
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; 
    will-change: top;
}
.Home-bottomPage.is-show {
    top: 0px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    min-height: 100vh;
    height: auto;

    -webkit-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;
    will-change: top;

}