:root {
    --AppColor: rgb(234,94,91);
    --AppTextColor: white;
}

.ListFilterPanel-tabs {
	margin: 50px 0 20px 0;
}
.ListFilterPanel-tab {
	display: inline-block;
	color: var(--AppColor);
    background: var(--AppTextColor);
    border: 1px solid var(--AppColor);	
    border-right: none;
	padding: 6px 8px;
	cursor: pointer;
}
.ListFilterPanel-tab.is-last {
	border-right: 1px solid var(--AppColor);
}
.ListFilterPanel-tab.is-active {
	color: var(--AppTextColor);
    background: var(--AppColor);
}
.ListFilterPanel-filterPanels {
	background: #f3f3f3;
	padding: 20px 0;
}
.ListFilterPanel-filterPanel {
	max-height: 0px;
	overflow: hidden;
	text-align: center;
	background: #f3f3f3;
	transition: all .2s cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}
.ListFilterPanel-filterPanel.is-show {
    max-height: 500px;
    transition: all .2s cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}
.ListFilterPanel-filterPanelVisible {
	background: #f3f3f3;
}
.ListFilterPanel-toggleFilter {
	color: rgb(180,180,180);
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 32px;
}
.ListFilterPanel-toggleFilter.is-active {
	color: var(--AppColor);
	transition: all .2s cubic-bezier(0, 1, 0.5, 1);
    webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}
.ListFilterPanel-text:hover {
	padding-bottom: 2px;
    border-bottom: 1px solid;
}
.ListFilterPanel-selectItem {
	margin: 20px;
	text-align: left;
}
/*-------- */

.ListFilterPanel-currentIssue {
	padding: 10px;
}
.ListFilterPanel-issueOptions {
	max-height: 0px;
	margin: 0 auto;
	overflow: hidden;
	background: white;	

}
.ListFilterPanel-issueOptions.is-show {

	max-height: 400px;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.12);
	transition: all .2s cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition: all .2s cubic-bezier(0, 1, 0.5, 1);
}

.ListFilterPanel-issueOptionItem {
	list-style: none;
	padding: 14px;
	text-align: center;
	padding-right: 16px;
	cursor: pointer;
}
.ListFilterPanel-issueOptionItem:hover {
	background: #f3f3f3;
	cursor: pointer;
}
.ListFilterPanel-issueOptionItem.is-active {
	border-left: 8px solid var(--AppColor);
	border-right: 8px solid transparent;
	font-weight: 600;
	color: var(--AppColor);
}